@font-face {
  font-family:RussoOne;
  src: url('/font/PTSans-Bold.woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  font-family:RussoOne;
}


::-webkit-scrollbar {
  width: 0px;
}